## person project author name
#set($personalName="season8")
## company project author name
#set($companyName="chengj@133.cn")
## company project package prefixes
#set($companyPackagePrefixes=['com.huoli'])
## company project package prefixes
#set($companyProjects=['web-request','ticket-valid-api'])
## customize your note here
#macro(notes $company)
/**
* $description
    #if(${company})
    * @author $companyName
    * @date ${DATE}
    #else
    * @author $personalName
        ## * @since
    #end
*/
#end
## check if it's a company project
#set($project=${PROJECT_NAME})
#set($package=${PACKAGE_NAME})
#set($companyPackagePrefix='')
#set($companyProject='')
#set($company=false)
#foreach($companyPackagePrefix in $companyPackagePrefixes)
    #set($p='')
    #set($n=0)
    #set($i='')
    #foreach($i in $package.toCharArray())
        #set($p=$p+$i)
        #set($n=$n+1)
        #if($n >= $companyPackagePrefix.length())
            #break
        #end
    #end
    #if($p == $companyPackagePrefix)
        #set($company=true)
        #break
    #end
#end
#if($company != true)
    #foreach($companyProject in $companyProjects)
        #if($project == $companyProject)
            #set($company=true)
            #break
        #end
    #end
#end
#notes($company)